@import 'tailwindcss';

@font-face {
  font-family: 'Inknut Antiqua';
  src: url(./assets/fonts/InknutAntiqua-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

@theme {
  /* Main colors */
  --color-primary: #e5f4ff;
  --color-secondary: #1a2e40;
  --color-gold-accent: #f5b942;

  /* Extra lightblue if needed */
  --color-lightblue: #b1cac9;

  /* Neutral colors */
  --color-green-accent: #4caf50;
  --color-darkgrey: #2c2f33;
  --color-lightgrey: #f5f7fa;
  --color-midgrey: #a8b3c5;

  /* Btn colors */
  --color-blue-btn: #38a2bc;
  --color-blueg1: #48a8bf;
  --color-blueg2: #53c3de;

  /* Modal Background colors */
  --color-modal-gradient-start: #22304a; /* Kevyt vivahde alkuperäisestä secondary:sta */
  --color-modal-gradient-end: #4bafd8; /* Sävytetty versio blueg2:sta */

  /* Text sizes */
  --text-base: 1rem;
  --text-button: 0.875rem;
  --text-h1: 2rem;
  --text-h2: 1.75rem;
  --text-h3: 1.5rem;
  --text-h4: 1.25rem;
  --text-h5: 1.125rem;
  --text-h6: 1rem;

  /* Font families */
  --font-inknut: 'Inknut Antiqua', serif;

  /* Shadows */
  --drop-shadow-test: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --drop-shadow-text: 0 1.2px 1.2px rgba(0, 0, 0, 0.8);
  --drop-shadow-hamburger: -5px 0 15px rgba(26, 46, 64, 0.45);
  --shadow-sidebar: 0px 0px 18px rgba(26, 46, 64, 0.5);
  --drop-shadow-custom: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-custom: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --shadow-modal:
    0px 16px 32px rgba(0, 0, 0, 0.35), 0px 4px 8px rgba(0, 0, 0, 0.25);

  /* Media queries */
  --breakpoint-1xl: 1200px;
  --breakpoint-mid: 1080px;
  --breakpoint-smd: 840px;
  --breakpoint-xs: 620px;

  /* Custom heights */
  --height-screenWithoutHeader: calc(100vh - 5.5rem);

  /* Custom spacings */
  --spacing-sidebar: 17rem;
  /* --spacing-afterSidebar: calc(var(--spacing-sidebar) + 3vw); */
  --spacing-afterSidebar: clamp(
    314px,
    calc(var(--spacing-sidebar) + 3vw),
    360px
  );

  --spacing-sidebarMargin: clamp(16px, 2vw, 36px);
}

/* Kouluesimerkit */

@layer base {
  html {
    @apply font-inknut;
  }

  h1 {
    @apply text-h1;
  }

  h2 {
    @apply text-h2;
  }

  h3 {
    @apply text-h3;
  }

  h4 {
    @apply text-h4;
  }

  h5 {
    @apply text-h5;
  }

  h6 {
    @apply text-h6;
  }

  p {
    @apply text-base;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .rounded-scrollbar::-webkit-scrollbar {
    width: 12px;
  }

  .rounded-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .rounded-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--color-secondary);
    border-radius: 6px;
    border: 2px solid var(--color-lightgrey);
    background-clip: padding-box;
  }
}
